// Define variable defaults
//$body-bg: #000;
//$body-color: #111;



// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.custom-select {
  color: #DEDDDD;
  background: #1E222D;
}

.nav-tabs {
  border-bottom: 1px solid #434651;
}

.nav-tabs .nav-link {
  color: #DEDDDD;
}

.nav-tabs .nav-link.active {
  color: #DEDDDD;
  background-color: #545b62;
  border-color: #434651;
}

.table-dark {
  color: #DEDDDD;
  background: #131722;
  border-color: #434651;
  text-align: center;
  border: #434651;
}

.b-table .thead-dark th {
  color: #DEDDDD;
  background-color: #1E222D;
  border-color: #434651;
}

.b-table .strike-border {
  border-left: 1px solid #434651;
  border-right: 1px solid #434651;
}

.bg-info {
  background-color: #17a2b808 !important;
}

/** {
  margin: 0;
  padding: 0;
}*/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #DEDDDD;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
