// Define variable defaults
//$body-bg: #000;
//$body-color: #111;



// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.custom-select {
  color: #fff;
  background: #1E222D;
}

.table-dark {
  color: #fff;
  background: #131722;
  border-color: #434651;
  text-align: center;
}

.table .thead-dark th {
  color: #fff;
  background-color: #1E222D;
  border-color: #434651;
}

.nav-tabs {
  border-bottom: 1px solid #434651;
}

.nav-tabs .nav-link {
  color: #fff;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #545b62;
  border-color: #434651;
}


/** {
  margin: 0;
  padding: 0;
}*/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
